@charset 'UTF-8';

/* main index.html */
.main {
    width: 100%;
    height: 100vh;
    background: #dcdcda;
}

.move-item {
    position: fixed;
    top: 50%;
    transform:  rotate(-90deg);
    transform-origin: 0 0 ;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin: 280px 0 0;
}

.move-item ul {
    display: flex;
    align-items: center;
}

.move-item li {
    margin: 0 30px;
    font-size: 20px;
    color: #676057;
}

.move-item li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #676057;
    transition: width .3s ease;
}

.move-item li.select::after {
    width: 100%;
}

.main section {
    width: calc(100% - 120px);
    height: 100%;
    margin-left: 120px;
}

.main .slide_section {
    position: relative;
}

.main .slide_text {
    position: absolute;
    bottom: 15%;
    left: 120px;
    z-index: 1;
    font-size: 120px;
    font-weight: 100;
    color: #fff;
}